/.idea/
/KLib/
/cmake-build-debug/
/ToDelete/
/unit_test/cmake-build/
/unit_test/cmake-build-debug/
/documentation/*.ref
/documentation/*.csv
/documentation/*.pyc
/documentation/*.ipynb_*
/unit_test/bin/
/bin/
/test.cpp
/build
/functional_test/cmake_build
*.o
*.cpp.o
*.out
*.so
*.pyc
